/* //From here abhijit made changes */
body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-thick";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.big-heading{
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  bottom: 155px;
  margin-bottom: -155px;
}

.container-fluid {
  padding: 3% 15% 7%;
}
.feature-title{
  font-size: 1.5rem;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title images */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  right: -50%;
  padding-top: 20px;
}

.icon {
  color: #e81f72;
}

/* Testimonials Section */
#testimonials {
  background-color: #e81f72;
  color: #fff;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #e81f72;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.carousel-item{
  padding: 100px;

}


/* pricing Section */
#pricing{
  padding: 7% 3%;
}

.pricing-column{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);

  }
}

/* CTA Section */

#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
}

.ctac{
  font-family: "Montserrat-thick";
  color: #fff;
  font-size: 4rem;
}

.large{
  width: 20%;
  height: 50px;
  font-size: 1.5rem;

}

#footer{
  background-color: #fff;
  padding: 7% 15%;
  font-size: 1.5rem;
}
.social-icons{
  padding: 20px 10px ;
}
